<%- include('partials/header') %>

<main class="details-wrapper">
    <div class="file-details-wrapper form-contents">
        <% if(locals.user) { %> 
            <p>File name: <%=fileName%></p>
            <p>File size: <%=fileSize%> MB</p>
            <p>File type: <%=fileType%></p>
            <p>Created at: <%=fileUploadDate%></p>
            <div class="btn-group">
                <a class="btn secondary" href="/">Back</a>
                <a class="btn primary" href="/download/<%=file.id%>">Download</a>
            </div>
        <% } %>
    </div>
</main>

<%- include('partials/footer') %>
</body>
</html>