<%- include('partials/header') %>

<main>
    <div class="container">
        <% if(locals.user) { %> 
            <% if( filesInFolder.length === 0) {%>
                <p>No Files Exist</p>
                <% } %>
                <a href="/folder/<%= folder.id %>/upload">Upload to Folder</a>
                <a href="/folder/<%= folder.id %>/edit">Edit Folder</a>
                <form action="/folder/<%=`${folder.id}/delete`%>" method="POST">
                       <button class="del-btn" type="submit" onclick="return confirm('Delete this folder?')">Delete Folder</button>
                </form>
        <h2><%= folder.name %></h2> 
        <a href="/" class="back-btn">Back</a>
        <div class="files-containers">
            <% filesInFolder.forEach(f => { %> 
                <p><%= f.name %> </p>
                <a href="/download/<%= f.id %>">Download</a>
                <a href="/folder/<%= folder.id %>/file/<%= f.id %>">View Details</a>
                <a href="/folder/<%= folder.id %>/file/<%= f.id %>/rename">Rename</a>
                <form action="/folder/<%=folder.id%>/file/<%=f.id%>/delete" method="POST">
                       <button class="del-btn" type="submit" onclick="return confirm('Delete this file?')">Delete file</button>
                </form>
             <%}); %>
        </div>
        <% } %>
    </div>
</main>

<%- include('partials/footer') %>
</body>
</html>