<%- include('partials/header') %>

<% if(locals.user) { %>
<hr>
<%- include('partials/nav-bar') %>
<main class="main-wrapper">
  <div class="main-wrapper">
    <h1 class="wc-msg">Welcome to Storify <%= locals.user.fullName %> </h1>
    <p class="p1">Name</p>
    <hr class="content-line">
    <% if(folders.length === 0 && filesWithoutFolder.length === 0) {%>
    <p>No files or Folders Exist</p>
    <% } %>
    <div class="files-container">
      <% folders.forEach(folder => {%>
      <div class="folder-item">
          <img src="../icons/folder.svg" alt="folder icon">
          <a href="/folder/<%= folder.id %>"><%= folder.name %> </a>
      </div>
      <%  }); %>
      <% filesWithoutFolder.forEach(file => {%>
      <div class="file-item">
        <div class="file-info">
          <div class="file-icon"><img src="../icons/file.svg" alt="file icon"></div>
          <div>
            <div class="file-name"><%= file.name %></div>
          </div>
        </div>

        <div class="dropdown">
          <button class="three-dot-btn" onclick="toggleDropdown(this)">
            <div class="three-dots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/download/<%=file.id%>">
              <img src="../icons/download.svg" alt="download icon">
              Download
            </a>
            <a class="dropdown-item" href="/file/<%= file.id %>/rename">
            <img src="../icons/folder-pen.svg" alt="rename icon">
              Rename
            </a>
            <a class="dropdown-item" href="/file/<%= file.id %>/move">
                <img src="../icons/file-input.svg" alt="move icon">
              Move
            </a>
            <a class="dropdown-item" href="/file/<%= file.id %>">
            <img src="../icons/info.svg" alt="info icon">
              View Details
            </a>
            <div class="dropdown-item danger" onclick="deleteFile('<%= file.id %>')">
            <img src="../icons/trash.svg" alt="delete icon">

              Delete
            </div>
          </div>
        </div>
      </div>
      <%  }); %>
      <% if (errorList.success && errorList.success.length > 0) { %>
      <ul class="success-msgs">
        <% errorList.success.forEach(function(message) { %>
        <li class="success"><%= message %></li>
        <% }); %>
      </ul>
      <% } %>
    </div>
</main>
</section>

<% } else { %>
<main class="auth-page">
  <div class="auth-form-wrapper">
    <form class="auth-form" action="/log-in" method="POST">
      <h1 class="form-heading">Log in to Storify</h1>

      <div class="input-group">
        <label for="email"></label>
        <input name="email" id="email" type="email" placeholder="Email" autocomplete="email" value="<%= typeof email !== 'undefined' ? email : '' %>">
      </div>

      <div class="input-group">
        <label for="password"></label>
        <input name="password" id="password" type="password" placeholder="Password" autocomplete="current-password">
      </div>

      <button class="auth-btn" type="submit">Log In</button>
      <a class="auth-btn" rel="noopener noreferrer" href="/sign-up">
        Don't have an account? Sign up
        <svg xmlns="http://www.w3.org/2000/svg" width="14" fill="none" viewBox="0 0 16 16" class="icon page_arrowRight__4KrB_">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.75 4.75 13.25 8m0 0-3.5 3.25M13.25 8H2.75"></path>
        </svg>
      </a>

      <% if (errorList.error && errorList.error.length > 0) { %>
      <ul class="error-msgs">
        <% errorList.error.forEach(function(message) { %>
        <div class="error-wrapper">
          <img class="error-icon" src="../icons/error.svg" width="20" alt="Error icon">
          <li class="error"><%= message %></li>
        </div>
        <% }); %>
      </ul>
      <% } %>
    </form>
  </div>
</main>
<% } %>

<%- include('partials/footer') %>