<%- include('partials/header') %>

<main>
    <div class="container">
        <% if(locals.user) { %> 
        <h1>Welcome to Storify <%= locals.user.fullName %> </h1>
            <% if(folders.length === 0 && filesWithoutFolder.length === 0) {%>
                <p>No files or Folders Exist</p>
                <% } %>
        <div class="files-containers">
            <% folders.forEach(folder => {%>
                <a href="/folder/<%= folder.id %>"><%= folder.name %> </a>
           <%  }); %>
            <% filesWithoutFolder.forEach(file => {%>
                <p><%= file.name %> </p>
                <a href="/download/<%=file.id%>">Download</a>
            <%  }); %>
             <% if (errorList.success && errorList.success.length > 0) { %>
                <ul class="success-msgs">
                  <% errorList.success.forEach(function(message) { %>
                    <li class="success"><%= message %></li>
                    <% }); %>
                </ul>
        <% } %>
        </div>

        <!-- Login Form -->
        <% } else { %>
        
        <form action="/log-in" method="POST">
        <h1 class="form-heading">Log In</h1>

        <div class="input-group">
            <label for="email" value="<% typeof email  !== "undefined" ? email : '' %>">Email</label>
            <input name="email" id="email" type="email"  placeholder="condoriano@onepiece.me">
        </div>
    
        <div class="input-group">
            <label for="password">Password</label>
            <input name="password" id="password" type="password">
        </div>
        
        <button class="submit-btn" type="submit">Log In</button>
        <p class="signup">Don't have an account?
            <a rel="noopener noreferrer" href="/sign-up">Sign up</a>
         </p>

        <% if (errorList.error && errorList.error.length > 0) { %>
                <ul class="errors">
                  <% errorList.error.forEach(function(message) { %>
                  <li class="error"><%= message %></li>
                  <% }); %>
                  </ul>
            <% } %>
    </form>
        <% } %>
        
    </div>
</main>

<%- include('partials/footer') %>
</body>
</html>