<%- include("./partials/header") %>

<div class="form-container">
    <form class="form-contents" action="/file/<%=`${fileId}/move`%>" method="POST" > 

        <h1 class="form-heading">Move <%= fileName %> from <%= currentFolder %> to: </h1>
        <select name="selectedFolder" id="selectedFolder">
            <% folders.forEach(f => { %>
                <option value="<%= f.id %>"><%= f.name %></option>
                <% }); %>
                <option value="">No Folder (Root)</option>
        </select>

        <div class="btn-group">
            <a href="/" class="btn secondary">Cancel</a>
            <button class="btn primary" type="submit">Move File</button>
        </div>
        
        <% if(typeof errorList !== 'undefined' && errorList.length > 0) {%>
            <ul class="error-msgs">
                <% errorList.forEach(e => { %>
                    <li><%=e.msg%></li>
               <% }) %>
            </ul>
            <% } %>
    </form>
</div>